.core-global-container {
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100vh;
  min-height: 100vh;
  max-width: 100vw;
  min-width: 100vw;
}
.core-global-container a {
  color: inherit;
  text-decoration: inherit;
}
.core-global-container .core-content {
  left: 0;
  position: absolute;
  top: 42px;
  z-index: 100;
}
.core-global-container .core-header {
  font-size: 24px;
  left: 0;
  line-height: 42px;
  max-width: 100vw;
  min-width: 100vw;
  position: fixed;
  text-align: center;
  top: 0;
  transition: top 1s;
  z-index: 200;
}
.core-global-container .core-header.core-scroll-up {
  top: -42px;
}
.core-global-container .core-header .core-link {
  padding: 0 21px;
  position: absolute;
  top: 0;
}
.core-global-container .core-header .core-link:hover {
  background-color: rgba(0, 0, 0, 0.25);
}
.core-global-container .core-header .core-link.core-home-link {
  left: 0;
}
.core-global-container .core-header .core-link.core-menu-link {
  right: 0;
}
.core-global-container .core-header .core-title {
  font-family: sans-serif;
  font-weight: bold;
}
.core-global-container .core-hide {
  display: none;
}
.core-global-container .core-overlay {
  background-color: rgba(0, 0, 0, 0.25);
  left: 0;
  max-height: 100vh;
  max-width: 100vw;
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
  top: 0;
  z-index: 700;
}
.core-global-container .core-spinner {
  color: #ffffff;
  font-size: 6rem;
  line-height: 100vh;
  position: relative;
  text-align: center;
  z-index: 800;
}
